In [12]:
import numpy as np
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/KeralaData/KeralaData.csv")
df.head()

         Date Confirmed  Recovered  Deceased  Active  Tested  contact
0  21-05-2021   8:30 PM          0         0       0       0        0
1  20-02-2020         0          1         0       0       0        0
2  30-01-2020         1          0         0       1       0        0
3  16-02-2020         0          2         0       1       0        0
4  02-02-2020         1          0         0       2       0        0

In [19]:
df = df.iloc[1:]
sum = 0
for index, row in df.iterrows():
    sum = sum + int(row['Deceased'])
print(sum)

6994